# コミットしたくないファイル・ディレクトリを指定できる設定ファイルです。
# Ignore bundler config.
/.bundle

# Ignore all logfiles and tempfiles.
/log/*
/tmp/*
!/log/.keep
!/tmp/.keep

# Ignore Byebug command history file.
.byebug_history
# 画像がGithubにコミットされないようにする 投稿された画像自体はソースコードに関係がないため
public/uploads/*