// mixinとは、まとまったスタイルを定義することができる機能
// mixinを利用することで、何度も同じスタイルを記述する必要がなくなります。
//====================================================================
// @mixin mixin名() {
//   定義したいスタイル
// }のように記述します
//-------------------------------------
// mixinの呼び出しは@includeを使用して
// .セレクタ名{
// @include mixin名();
// }
// のように書きます。
//===================================================================
@mixin display-flex(){
  display: flex;
  justify-content: space-between;
}

@mixin font-bold(){
  font-weight:bold ;
}